@model Fusion.Framework.Exchange.Entity.Cliente

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br /><br /><br />
<h2>Gestão</h2>

<div style="float:right;width:150px;">
    @Html.ActionLink(" ", "Index", null, new { @class = "btn btn-default glyphicon glyphicon-arrow-left", title = "Voltar" })
</div>

<div>
    <h4>Detalhes do Cliente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Smtp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Smtp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Senha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Senha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Token)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Token)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataCadastro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataCadastro)
        </dd>

    </dl>
</div>
<p>    
    @Html.ActionLink(" ", "Edit", new { id = Model.Codigo }, new { @class = "btn btn-primary btn-large glyphicon glyphicon-pencil", title = "Editar" })
    <br /><br /><br /><br />
    @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-default" })
</p>
