@model Impeto.Framework.Exchange.Entity.Dispositivo

@{
    ViewBag.Title = "Parear Novo Dispositivo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br /><br /><br />
<h2>Gestão de Dispositivos</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="row">
    <div class="col-md-6">
        <h4>Parear Novo Dispositivo</h4>
        <br />
        <h5 style="color:cadetblue">Tenha em mãos o número de série do dispositivo e </h5>
        <h5 style="color:cadetblue">certifique-se de que está ligado e configurado.</h5>
        <br />
        <div class="form-group">
            @Html.LabelFor(m => m.Serial, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Serial, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Serial, "", new { @class = "text-danger" })
            </div>
        </div>
        <br /><br />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" id="btnVerificarDispositivo" name="btnVerificarDispositivo" class="btn btn-default btn-info" value="Verificar Dispositivo" title="Clique aqui para consultar registro de sincronização." />
            </div>
        </div>
        <div id="resultado" name="resultado" class="form-group">

        </div>
    </div>

    <div class="col-md-6">
        <div id="formCadastro" name="formCadastro" style="display:none;">
            <fieldset>
                <legend>Informe seus dados:</legend>
                <div class="form-group">
                    @Html.LabelFor(m => m.Nome, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Nome, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Nome, "", new { @class = "text-danger" })
                    </div>
                </div>
                <br /><br />
                <div class="form-group">
                    @Html.LabelFor(m => m.Smtp, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.DropDownList("Smtp", new SelectList(ViewBag.SalasDoCliente != null ? ViewBag.SalasDoCliente : "", "Value", "Text", "Selecione a Sala de Reunião..."), htmlAttributes: new { @class = "form-control", style = "width:600px;" })
                        @Html.ValidationMessageFor(m => m.Smtp, "", new { @class = "text-danger" })
                    </div>
                </div>
                <br /><br />
                <div class="form-group">
                    @Html.LabelFor(m => m.TimeZone, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.DropDownList("TimeZone", new SelectList(ViewBag.TimeZoneTable, "Value", "Text", "E. South America Standard Time"), htmlAttributes: new { @class = "form-control", style = "width:600px;" })                        
                        @Html.ValidationMessageFor(m => m.TimeZone, "", new { @class = "text-danger" })
                    </div>
                </div>
            </fieldset>
            <br /><br />
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-default btn-success" value="Parear Dispositivo" title="Clique aqui para efetivar a criação de sua nova conta." />
                </div>
            </div>
        </div>
    </div>
</div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


    <script type="text/javascript">
        $(document).ready(function () {

            $('#btnVerificarDispositivo').click(function () {
                if ($('#Serial').val().length === 12) {
                    $.ajax({
                        url: '/Dispositivo/Verificar',
                        type: 'POST',
                        data: JSON.stringify({ serial: $('#Serial').val() }),
                        dataType: 'json',
                        contentType: 'application/json',
                        success: function (data) {
                            if (data.status == true) {
                                $('#resultado').empty();
                                $('#resultado').html("<br><br><br><fieldset><legend>Status</legend>Dispositivo Encontrado.<br>Complete seus dados para prosseguir.<br><fieldset>");
                                $('#formCadastro').show();
                                $('#Nome').focus();

                            } else {
                                $('#resultado').empty();
                                $('#resultado').html("<br><br><br><fieldset><legend>Status</legend>Dispositivo Não Encontrado.<br>Aguarde mais alguns instantes ou reveja a configuração do dispositivo.<br><fieldset>");
                                $('#formCadastro').hide();
                            }
                        },
                        error: function (data) {
                            $('#resultado').empty();
                            $('#resultado').html("<br><br><br><fieldset><legend>Status</legend>Ocorreu erro na verificação.<br>Tente novamente mais tarde.<br><fieldset>");
                        }
                    });
                } else {
                    $('#resultado').empty();
                    $('#resultado').html("<br><br><br><fieldset><legend>Status</legend>Código Serial de Dispositivo Inválido.<br><fieldset>");
                }
            });

            $('#Serial').change(function (e) {
                e.preventDefault();
                e.stopPropagation();
                if ($('#Serial').val().length != 12) {
                    $('#btnVerificarDispositivo').removeClass('btn-info');
                    $('#btnVerificarDispositivo').addClass('btn-warning');
                } else {
                    $('#btnVerificarDispositivo').removeClass('btn-warning');
                    $('#btnVerificarDispositivo').addClass('btn-info');
                }
                return false;
            });
        });
    </script>
}
