@using Microsoft.AspNet.Identity
@using Impeto.Exchange.Configuration.Extensions

@model IEnumerable<Impeto.Framework.Exchange.Entity.Dispositivo>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br /><br /><br />
<h2>Gestão de Dispositivos</h2>
<br />
<p>
   @Html.ActionLink(" ", "Create", new { id = User.Identity.GetCodigoCliente() }, new { @class = "btn btn-primary btn-large glyphicon glyphicon-plus-sign", title = "Parear Novo Dispositivo" })
</p>

<table class="table">
    <tr>
        <th></th>
        <th>Nome</th>
        <th>Número Série</th>
        <th>Data de Ativação</th>
        <th>SMTP Exchange</th>
        <th>Fuso Horário</th>
        <th>Status no Sistema</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(" ", "Edit", new { id = item.Codigo }, new { @class = "btn btn-large btn-warning glyphicon glyphicon-pencil", title = "Editar" })
                @Html.ActionLink(" ", "Details", new { id = item.Codigo }, new { @class = "btn btn-large btn-info glyphicon glyphicon-list-alt", title = "Detalhes" })
                @Html.ActionLink(" ", "Delete", new { id = item.Codigo }, new { @class = "btn btn-large btn-danger glyphicon glyphicon-trash", title = "Excluir Pareamento" })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Serial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataAtivacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Smtp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeZone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ativo)
            </td>
        </tr>
    }

</table>
<br /><br /><br /><br />