@model IEnumerable<Fusion.Framework.Exchange.Entity.Dispositivo>

@{
    ViewBag.Title = "Todos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br /><br /><br />
<h2>Todos os Dispositivos</h2>

<table class="table">
    <tr>
        @* <th></th> *@
        <th>
            Cliente
        </th>
        <th>
            Número de Série
        </th>
        <th>
            Descrição
        </th>
        <th>
            Conta Smtp Exchange
        </th>
        <th>
            Token de Segurança
        </th>
        <th>
            Data da Ativação
        </th>
        <th>
            Status
        </th>
        <th>
            Fuso Horário
        </th>        
    </tr>

@foreach (var item in Model) {
    <tr>
        @*
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.Codigo }) |
        @Html.ActionLink("Details", "Details", new { id = item.Codigo }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.Codigo })
    </td>
        *@
        <td>
            @if (item.Cliente != null)
            {
                @Html.DisplayFor(modelItem => item.Cliente.Nome)
            }
            else
            {
                @Html.Raw("Não Pareado")
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Serial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Smtp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Token)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataAtivacao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ativo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeZone)
        </td>
    </tr>
}

</table>
